.text-important{
    color: #97c93e !important;
}
#header a:hover{
    text-decoration: underline;
}

.info{
    background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
.projects{
    background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
}
.projects h2{
    color: white;
}

#footer{
    background-color: #343a40;
}
#footer a {
    color: white;
}
#footer img{
    width: 50px;
    padding-bottom: 15px;
}

.modal-body p:hover {
    text-decoration: underline;
}
